@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 20%;

    --primary: 0 0% 8%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 80%;
    --secondary-foreground: 0 0% 40%;

    --danger: 0 100% 50%;
    --danger-foreground: 0 0% 100%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 20%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 8%;

    --border: 0 0% 90%;
    --ring: 0 0% 50%;
    --input: 0 0% 80%;
  }

  .dark {
    --background: 0 0% 5%;
    --foreground: 0 0% 90%;

    --primary: 0 0% 95%;
    --primary-foreground: 0 0% 3%;

    --secondary: 0 0% 80%;
    --secondary-foreground: 0 0% 0%;

    --danger: 0 100% 50%;
    --danger-foreground: 0 0% 100%;

    --accent: 0 0% 18%;
    --accent-foreground: 0 0% 95%;

    --muted: 0 0% 12%;
    --muted-foreground: 0 0% 70%;

    --border: 0 0% 18%;
    --ring: 0 0% 50%;
    --input: 0 0% 18%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  ::selection {
    @apply bg-black text-white dark:bg-white dark:text-black;
  }
}
