@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 20%;

    --primary: 0 0% 8%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 90%;
    --secondary-foreground: 0 0% 55%;

    --accent: 0 0% 92%;
    --accent-foreground: 0 0% 35%;

    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 60%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;

    --danger: 0 85% 55%;
    --danger-foreground: 0 0% 95%;

    --border: 0 0% 85%;
    --ring: 0 0% 50%;
    --input: 0 0% 85%;
  }

  .dark {
    --background: 0 0% 4%;
    --foreground: 0 0% 90%;

    --primary: 0 0% 95%;
    --primary-foreground: 0 0% 3%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 50%;

    --accent: 0 0% 16%;
    --accent-foreground: 0 0% 90%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 35%;

    --popover: 0 0% 5%;
    --popover-foreground: 0 0% 90%;

    --danger: 0 85% 55%;
    --danger-foreground: 0 0% 95%;

    --border: 0 0% 21%;
    --ring: 0 0% 50%;
    --input: 0 0% 21%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  ::selection {
    @apply bg-primary text-primary-foreground;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 24px;
    border: solid 6px transparent;
    box-shadow: inset 0 0 12px 12px rgba(163, 163, 163, 0.5);
  }
}
